#ignore all *.TempPoint.ps* Files and .psproj files - These are Powershell Studio Temporary Files and are not related to the repository...
*.TempPoint.ps1
*.TempPoint.psd1
*.TempPoint.psm1
*.psproj
*.psprojs
*.TempPoint.backup

#Ignore all .backup Files - These are Backup Files Created By GhostWriter to Protect Against Possible Loss When Editing Markdown Files
*.backup
